<div class="container-fluid">
    <div class="border">
    <div class="row">
   <div class="col md-6">
    <table class=" table table-borderless">
      <thead><td>Executive Overview</td></thead>
        <tr>
        <td></td><td></td>
        <td>This<hr></td>
        <td>Last<hr></td></tr>
        <tr><td>Net Revenue</td>
        <td style="color:red"><img src="https://cdn2.iconfinder.com/data/icons/arrows-236/14/Polygon-1-512.png" width="30px" height="30px" alt="">6.11%</td>
        <td>$1.04M</td>
        <td>$1.11M</td>
        </tr>
        <tr><td>Returns </td>
          <td style="color: green;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYRlbaC6aZA-DH4jyramTSSErjkERvkHRpSA&usqp=CAU"  width="30px" height="20px" alt="20px">78.72%</td>
          <td>$21.04K</td>
          <td>$98.84K</td>
          </tr>
          <tr><td>Return Rate</td>
            <td style="color: green;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYRlbaC6aZA-DH4jyramTSSErjkERvkHRpSA&usqp=CAU" width="30px" height="20px"  alt="">75.80%</td>
            <td>%1.98</td>
            <td>8.17%</td>
            </tr>
            </table>
            <div class="text-center"><input type="text" class="suri"  placeholder="This Quarter vs Last Quarter" disabled><select name="" id=""></select></div><hr>
      </div>
      <div class="col md-6">
        <h6 style="text-align:center; background-color:lightgray;margin-top:30px;">Sales by State</h6><br>
        <img src="assets/image/world.png" width="720px" alt="">
      </div>
      <div class="col md-6"><br>
        <h6 style="background-color: lightgray;text-align: center;">Monthly Sale Trends</h6><br>
       <img src="assets/image/map.png"  width="720px" alt="">
      </div>
      <div class="col md-6"><br>
        <h6 style="background-color: lightgray;text-align: center;">Employee Performence This Quarter</h6>
           <br> <img src="assets/image/growthing.png" width="700px" alt="">
        <div class="page">
        <p>$0.00k</p>
        <p>$100.00k</p>
        <p>$200.00k</p>
        <p>$300.00k</p>
        <p>$400.00k</p>
        <p>$500.00k</p>
        <p>$600.00k</p>
      </div>
      <p class="text-center">Revenue VsQuota</p>
      </div>
      </div>
      </div>
    </div>